<h2>Control Computers + Power Plants</h2>
<p class="explainer">

    Vessels require both a <b>control computer</b> and a <b>power plant</b>.  Both grant CPU (Computer and Power Units), which is a combined resource unit which measures both computer processor resources and raw power resources.<br><br>Nearly every function on a vessel interacts in some way with the computer. The computers, sensors, and engineering facilities on a starship make a up a large part of its efficiency and effectiveness. Faster computers allow a ship to react more quickly in combat situations, while more sensitive sensor systems enable the crew to gather more information about their surroundings. A basic hull comes with a standard integrated computer and sensors, but more powerful systems are needed for effective combat calculations and FTL planning. The computing power aboard a starship cannot be overestimated in its importance.

 <br><br>A ship's <b>computer system</b> is able to perform faster-than-light calculations for FTL travel, and ties directly into the sensor array. Data storage in a ship's computer is so efficient that the concept of storage capacity does not factor into computer design any more. Some computer systems have a basic AI, while others do not.<br><br>
The <b>power plant</b> provides raw power to the CPU total.<br><br>

Items marked with an asterisk (*) are AL 10 items; they are only available in AL 10 settings. These items can drastically change the nature of a setting, especially in terms of FTL speeds.<br><br>

<b>Navigation computers</b> (navcomps or astrogation units) are an AL 10 technology which increases FTL
speeds by an order of magnitude by engaging in hyper-fast calculations and route-plott ing formulae far
beyond most AL 9 computer systems. A navcomp operates alongside a regular control computer system
and simply replaces its Max FTL limit while leaving all of its other functionality intact. Navcomps also
maintain detailed navigational charts of the fastest travel routes, which are not necessarily in straight
lines when dealing with hyperspace, intense gravity wells, dark energy fluctuations, and non-euclidian
geometry. The introduction of navcomps makes galaxy-wide travel a trivial issue. A navigation computer eff ectively multiplies a ship's FTL capability by 10, subject to the na vcomp's
Max FTL value

<br><br><b>Crew Automation + AI</b> can drastically reduce crew requirements, but have the disadvantage of reducing effectiveness in the form of a negative die modifier.
</p> 
<h3>Your Computers</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Quantity</th>
        <th>Computers + Power</th>
        <th>Cost</th>
        <th>Size</th>
        <th>Space</th>
        <th>Max FTL</th>
        <th>Max CPU</th>
        <th>Crew</th>
        <th>Rng Inc</th>
        <th>SOAK</th>
        <th>DEFENSE</th>
        <th>Checks</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship['Control Computers']">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(KEY, name)">-</button></td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td ng-bind="computerHash[name].Cost"></td>
        <td ng-bind="computerHash[name].Size"></td>
        <td ng-bind="computerHash[name].Space"></td>
        <td ng-bind="computerHash[name]['Max FTL']"></td>
        <td ng-bind="computerHash[name]['CPU']"></td>
        <td ng-bind="computerHash[name].Crew"></td>
        <td ng-bind="computerHash[name]['Rng Inc']"></td>
        <td ng-bind="computerHash[name].SOAK"></td>
        <td ng-bind="computerHash[name].DEFENSE"></td>
        <td ng-bind="computerHash[name].Checks"></td>
    </tr>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="13" class="text-center">No control computers selected.</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Computers + Power</th>
        <th>Cost</th>
        <th>Size</th>
        <th>Space</th>
        <th>Max FTL</th>
        <th>Max CPU</th>
        <th>Crew</th>
        <th>Rng Inc</th>
        <th>SOAK</th>
        <th>DEFENSE</th>
        <th>Checks</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in computers">
        <td><button type="button" class="btn btn-primary" ng-click="incrementItem(KEY, c['Control Computers'])">+</button></td>
        <td ng-bind="c['Control Computers']"></td>
        <td ng-bind="c.Cost"></td>
        <td ng-bind="c.Size"></td>
        <td ng-bind="c.Space"></td>
        <td ng-bind="c['Max FTL']"></td>
        <td ng-bind="c['CPU']"></td>
        <td ng-bind="c.Crew"></td>
        <td ng-bind="c['Rng Inc']"></td>
        <td ng-bind="c.SOAK"></td>
        <td ng-bind="c.DEFENSE"></td>
        <td ng-bind="c.Checks"></td>
    </tr>
    </tbody>
</table>

    Status API Training Shop Blog About Pricing 

    © 2015 GitHub, Inc. Terms Privacy Security Contact Help 

