<h2>Control Computer</h2>
<p class="explainer">

    Nearly every function on a vessel interacts in some way with the computer. The computers, sensors, and engineering facilities on a starship make a up a large part of its efficiency and effectiveness. Faster computers allow a ship to react more quickly in combat situations, while more sensitive sensor systems enable the crew to gather more information about their surroundings. A basic hull comes with a standard integrated computer and sensors, but more powerful systems are needed for effective combat calculations and FTL planning. The computing power aboard a starship cannot be overestimated in its importance.

    A ship's computer system is able to perform faster-than-light calculations for FTL travel, and ties directly into the sensor array. Data storage in a ship's computer is so efficient that the concept of storage capacity does not factor into computer design any more. Some computer systems have a basic AI, while others do not.
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Quantity</td>
        <td>Control Computers</td>
        <td>Cost</td>
        <td>Size</td>
        <td>Space</td>
        <td>Max FTL</td>
        <td>Max CPU</td>
        <td>Crew</td>
        <td>Rng Inc</td>
        <td>SOAK</td>
        <td>DEFENSE</td>
        <td>Checks</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in computers">
        <td><input type="radio" ng-model="ship.computer" ng-value="c"></td>
        <td ng-bind="c['Control Computers']"></td>
        <td ng-bind="c.Cost"></td>
        <td ng-bind="c.Size"></td>
        <td ng-bind="c.Space"></td>
        <td ng-bind="c['Max FTL']"></td>
        <td ng-bind="c['CPU']"></td>
        <td ng-bind="c.Crew"></td>
        <td ng-bind="c['Rng Inc']"></td>
        <td ng-bind="c.SOAK"></td>
        <td ng-bind="c.DEFENSE"></td>
        <td ng-bind="c.Checks"></td>
    </tr>
    </tbody>
</table>

<h2>Sensor Systems</h2>
<p class="explainer">

    A sensor array is a collection of sensors and sub processors designed to gather and collate information. They include navigational and combat sensors, as well as equipment which measures and records the environment capable of detecting a wide range of phenomena. Sensors also include communications equipment, and are used for offensive electronic warfare.</p>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Select</td>
        <td>Sensor Systems</td>
        <td>Cost</td>
        <td>Size</td>
        <td>Space</td>
        <td>Range</td>
        <td>Range Inc</td>
        <td>DEFENSE</td>
        <td>Checks</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="s in sensors">
        <td><input type="radio" ng-model="ship.sensor" ng-value="s"></td>
        <td ng-bind="s['Sensor Systems']"></td>
        <td ng-bind="s.Cost"></td>
        <td ng-bind="s.Size"></td>
        <td ng-bind="s.Space"></td>
        <td ng-bind="s.Range"></td>
        <td ng-bind="s['Range Inc']"></td>
        <td ng-bind="s.DEFENSE"></td>
        <td ng-bind="s.Checks"></td>
    </tr>
    </tbody>
</table>