<h2>Troops & Passengers</h2>
<p class="explainer">
    In addition to the crew, a ship can carry troops (military personnel of various kinds). Troops add to the crew
    complement for the purposes of calculating LUXURY (see below), and each uses 2 CU of cargo space.

    Passenger capacity also uses cargo space. Standard passengers use 2 CU each, while Luxury passengers use 4 CU. As
    with troops, passengers add to the crew complement for the purposes of calculating LUXURY.<br><br>
    Your minimum crew is already set by your hull class and control computer.  Additional crew can be used to supplement this minimum value, and are useful if the ship takes casualties.  Vessels which fall below minimum crew through casualties start to suffer penalties, so it is always advisable to carry more than the absolute minimum.</p>

<h3>Your Crew</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Quantity</th>
        <th>Type</th>
        <th>Space</th>
        <th>Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship['Crew']">
        <td>
            <div class="input-group">
                <input type="number" class="form-control small-input" ng-init="crewValueRemoveHash[name] = 1" ng-model="crewValueRemoveHash[name]" />
                <button type="button" class="input-group-addon btn btn-primary" ng-click="decrementItem(KEY, name, crewValueRemoveHash[name])">-</button>
            </div>
        </td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td ng-bind="crewHash[name].Space"></td>
        <td ng-bind="crewHash[name].Cost"></td>
    </tr>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="13" class="text-center">No crew selected.</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Select</th>
        <th>Type</th>
        <th>Space</th>
        <th>Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in passengerOptions">
        <td>
            <div class="input-group">
                <input type="number" class="form-control small-input" ng-init="crewValueAddHash[p.Type] = 1" ng-model="crewValueAddHash[p.Type]" />
                <button type="button" class="input-group-addon btn btn-primary" ng-click="incrementItem(KEY, p.Type, crewValueAddHash[p.Type])">+</button>
            </div>
        </td>
        <td ng-bind="p.Type"></td>
        <td ng-bind="p.Space"></td>
        <td ng-bind="p.Cost"></td>
    </tr>
    </tbody>
</table>
