<h2>Facilities</h2>
<p class="explainer">
    They A basic ship comes with a bridge, dormitory accommodations for crew and one cabin for the captain. Ships of smaller than class I do not include accommodations, and have a cockpit instead of a bridge.

Facilities directly affect a ship's LUXURY score which, if below 100%, can cause penalties. A comfortable crew is a happy crew!  However, decandence can cause penalties, too.
</p>
<h3>Your Facilities</h3>
<h4>Current Luxury:
    <span ng-bind="calculateLuxury() || 'none'"></span>
</h4>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="input-cell"></th>
        <th>Quantity</th>
        <th>Customization</th>
        <th>Cost/crew</th>
        <th>Luxury/crew</th>
        <th>Space/crew</th>
        <th>Recommended</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship.Facilities">
        <td>
            <div class="input-group">
                <input type="number" class="form-control small-input" ng-init="facilitiesValueRemoveHash[name] = 1" ng-model="facilitiesValueRemoveHash[name]" />
                <button type="button" class="input-group-addon btn btn-primary" ng-click="decrementItem(KEY, name, facilitiesValueRemoveHash[name])">-</button>
            </div>
        </td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td>{{facilitiesHash[name]['Cost/crew']}}</td>
        <td>{{facilitiesHash[name]['Luxury/crew']}}</td>
        <td>{{facilitiesHash[name]['Space/crew']}}</td>
        <td>{{facilitiesHash[name].Recommended}}</td>
        <td>{{facilitiesHash[name].Notes}}</td>
    </tr>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="7" class="text-center">No facilities selected.</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="input-cell"></th>
        <th>Customization</th>
        <th>Cost/crew</th>
        <th>Luxury/crew</th>
        <th>Space/crew</th>
        <th>Recommended</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in facilities">
        <td>
            <div class="input-group">
                <input type="number" class="form-control small-input" ng-init="facilitiesValueAddHash[c.Customization] = 1" ng-model="facilitiesValueAddHash[c.Customization]" />
                <button type="button" class="input-group-addon btn btn-primary" ng-click="incrementItem(KEY, c.Customization, facilitiesValueAddHash[c.Customization])">+</button>
            </div>
        </td>
        <td>{{c.Customization}}</td>
        <td>{{c['Cost/crew']}}</td>
        <td>{{c['Luxury/crew']}}</td>
        <td>{{c['Space/crew']}}</td>
        <td>{{c.Recommended}}</td>
        <td>{{c.Notes}}</td>
    </tr>
    </tbody>
</table>
