<h2>Fighter Bay</h2>
<p class="explainer">
    It fights.
</p>
<h3>Your Fighter Bay</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Item</th>
        <th>Space</th>
        <th>Size</th>
        <th>Cost</th>
        <th>CPU</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in systems.hangars">
        <td><input type="radio" ng-model="ship.hangar" ng-value="item"></td>
        <td>{{item.Item}}</td>
        <td>{{item.Space}}</td>
        <td>{{item.Size}}</td>
        <td>{{item.Cost}}</td>
        <td>{{item.CPU}}</td>
        <td>{{item.Notes}}</td>
    </tr>
    </tbody>
</table>