<h2>FTL Propulsion Systems
</h2>
<p class="explainer">
    A ship's power comes from its engines. Basic engines come integrated in a ship's hull type, and provide minimal power. Upgrading the engines is often a new captain's first project. The existing engines cannot be sold or exchanged; they have an effective value of zero. There are many types of starship propulsion and power systems. Listed below are some common civilian systems, from liquid fuel or fusion systems to more advanced antimatter or hyperdrive engines. Not all engines provide FTL capability; and FTL engines cannot be used at sub-luminal speeds. For this reason, a vessel may need more than one engine – perhaps a fusion reactor and a hyperdrive system. An engineer will need to balance ship class, space, power, FTL capability and fuel efficiency to obtain her desired outcome.</p>
<h3>Your FTL Engine</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Count</th>
            <th>FTL Engine</th>
            <th>Cost</th>
            <th>Size</th>
            <th>CPU</th>
            <th>Space</th>
            <th>Power</th>
            <th>Fuel Eff</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship[KEY]">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(KEY, name)">-</button></td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td>{{ftlHash[name].Cost}}</td>
        <td>{{ftlHash[name].Size}}</td>
        <td>{{ftlHash[name].CPU}}</td>
        <td>{{ftlHash[name].Space}}</td>
        <td>{{ftlHash[name].Power}}</td>
        <td>{{ftlHash[name]['Fuel Eff']}}</td>
    </tr>
    </tbody>
</table>

<h3>Your Backup Engines</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Count</th>
            <th>FTL Engine</th>
            <th>Cost</th>
            <th>Size</th>
            <th>CPU</th>
            <th>Space</th>
            <th>Power</th>
            <th>Fuel Eff</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship[BKEY]">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(BKEY, name)">-</button></td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td>{{ftlHash[name].Cost}}</td>
        <td>{{ftlHash[name].Size}}</td>
        <td>{{ftlHash[name].CPU}}</td>
        <td>{{ftlHash[name].Space}}</td>
        <td>{{ftlHash[name].Power}}</td>
        <td>{{ftlHash[name]['Fuel Eff']}}</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Add</th>
            <th>Backup</th>
            <th>FTL Engine</th>
            <th>Cost</th>
            <th>Size</th>
            <th>CPU</th>
            <th>Space</th>
            <th>Power</th>
            <th>Fuel Eff</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in ftl">
        <td><button
                type="button"
                class="btn btn-primary"
                ng-disabled="!hasThisItem(KEY, item['FTL Engine'])"
                ng-click="incrementOneItem(KEY, item['FTL Engine'])">
            +</button>
        </td>
        <td><button type="button" class="btn btn-primary" ng-click="incrementItem(BKEY, item['FTL Engine'])">+</button></td>
        <td>{{item['FTL Engine']}}</td>
        <td>{{item.Cost}}</td>
        <td>{{item.Size}}</td>
        <td>{{item.CPU}}</td>
        <td>{{item.Space}}</td>
        <td>{{item.Power}}</td>
        <td>{{item['Fuel Eff']}}</td>
    </tr>
    </tbody>
</table>