<h2>Starship Hull Configuration</h2>
<p class="explainer">
    Select an (optional) hull configuration. There are as many different vessel types as there are stars in the
    sky. The following list is a summary of some common classifications listed in approximate typical size order. Each
    configuration grants the ship one exploit. The system does not apply the exploit. For some examples of the sizes and types of some famous starships, <a
 href="http://www.enworld.org/forum/showthread.php?470480-Some-famous-starships"
 target="_blank">click here</a>.
    <br><br>
    For ships smaller than Class I, the system is unable to calculate derived figures based on class (SPEED, FTL, SOAK, ARMOR). You will need to apply those figures manually when complete.

</p>
<select class='form-control' style='overflow:hidden;max-width:500px;'
        ng-model="ship.hullConfig"
        ng-options="presentType(config) for config in hullConfigurations">
</select>

<h2>Starship Hull Class</h2>
<p class="explainer">

    Starships are categorized by class, which is a rough measure of tonnage. This initial decision determines the size
    parameters of your ship design. It also determines your crew requirement, fuel capacity, cargo space, and DEFENSE
    values.  For especially large ships (those over Class XX or so), space starts to matter less and less; it will be easy to fit in any components required (as long as you can afford them!) but instead the challenge of maintaining increasingly larger crews, paying them monthly, and outfitting the vessel to crew comfortable becomes more difficult.<br><br>
    A DEFENSE value cannot drop below 10.
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Select</th>
        <th>Class</th>
        <th>Tonnage</th>
        <th>Cost</th>
        <th>Crew</th>
        <th>Max CU</th>
        <th>DEFENSE</th>
        <th>Fuel</th>
        <th>Initiative</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="h in hulls">
        <td><input type="radio" ng-model="ship.hull" ng-value="h" ng-change="clearCloaking()"></td>
        <td ng-bind="h.Class"></td>
        <td ng-bind="h.Tonnage"></td>
        <td ng-bind="h.Cost"></td>
        <td ng-bind="h.Crew"></td>
        <td ng-bind="h['Max CU']"></td>
        <td ng-bind="h.DEFENSE"></td>
        <td ng-bind="h.FUEL"></td>
        <td ng-bind="h.INITIATIVE"></td>
    </tr>
    </tbody>
</table>
