<h2>Power Plants</h2>
<p class="explainer">
Alternatively, power plants are also able to provide CPU.
</p>
<h3>Your Power Plants</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Quantity</th>
        <th>Power Plant</th>
        <th>Cost</th>
        <th>Size</th>
        <th>Space</th>
        <th>Max FTL</th>
        <th>Max CPU</th>
        <th>Crew</th>
        <th>Rng Inc</th>
        <th>SOAK</th>
        <th>DEFENSE</th>
        <th>Checks</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship['Power Plant']">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(KEY, name)">-</button></td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td ng-bind="powerplantHash[name].Cost"></td>
        <td ng-bind="powerplantHash[name].Size"></td>
        <td ng-bind="powerplantHash[name].Space"></td>
        <td ng-bind="powerplantHash[name]['Max FTL']"></td>
        <td ng-bind="powerplantHash[name]['CPU']"></td>
        <td ng-bind="powerplantHash[name].Crew"></td>
        <td ng-bind="powerplantHash[name]['Rng Inc']"></td>
        <td ng-bind="powerplantHash[name].SOAK"></td>
        <td ng-bind="powerplantHash[name].DEFENSE"></td>
        <td ng-bind="powerplantHash[name].Checks"></td>
    </tr>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="13" class="text-center">No power plants selected.</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Power Plant</th>
        <th>Cost</th>
        <th>Size</th>
        <th>Space</th>
        <th>Max FTL</th>
        <th>Max CPU</th>
        <th>Crew</th>
        <th>Rng Inc</th>
        <th>SOAK</th>
        <th>DEFENSE</th>
        <th>Checks</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in powerplants">
        <td><button type="button" class="btn btn-primary" ng-click="incrementItem(KEY, c['Power Plant'])">+</button></td>
        <td ng-bind="c['Power Plant']"></td>
        <td ng-bind="c.Cost"></td>
        <td ng-bind="c.Size"></td>
        <td ng-bind="c.Space"></td>
        <td ng-bind="c['Max FTL']"></td>
        <td ng-bind="c['CPU']"></td>
        <td ng-bind="c.Crew"></td>
        <td ng-bind="c['Rng Inc']"></td>
        <td ng-bind="c.SOAK"></td>
        <td ng-bind="c.DEFENSE"></td>
        <td ng-bind="c.Checks"></td>
    </tr>
    </tbody>
</table>
