<h2>Deflector Shields</h2>
<p class="explainer">
    Deflector shields (also referred to as screens or force-fields) are a technology devised to protect ships, stations, and sometimes even planets from damage. A deflector shield is a (usually invisible) field projected around an object which disperses or deflects energy and projectiles. The shields may use various energy types to create the fields – magnetic fields, gravitons, and so on – but most have much the same effect. Shields are not typically raised at all times (although navigational shields stay active permanently; larger shields have a lower navigational power level which is used during normal travel). Shield capacity is directly proportional to the power generated divided by the size of the area to be protected. Earlier shields typically project an elliptical field around the object to be protected, while more advanced versions conform to the contours of the ship within a few feet or so.</p>
<h3>Your Deflector Shields</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Amount</th>
        <th>Deflector Shield</th>
        <th>Cost</th>
        <th>Size</th>
        <th>CPU</th>
        <th>Space</th>
        <th>Power</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship[KEY]">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(KEY, name)">-</button></td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td>{{deflectorHash[name].Cost}}</td>
        <td>{{deflectorHash[name].Size}}</td>
        <td>{{deflectorHash[name].CPU}}</td>
        <td>{{deflectorHash[name].Space}}</td>
        <td>{{deflectorHash[name].Power}}</td>
    </tr>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="7" class="text-center">No deflectors selected.</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Deflector Shield</th>
        <th>Cost</th>
        <th>Size</th>
        <th>CPU</th>
        <th>Space</th>
        <th>Power</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in deflectors">
        <td><button type="button" class="btn btn-primary" ng-click="incrementItem(KEY, c[KEY])">+</button></td>
        <td>{{c['Deflector Shields']}}</td>
        <td>{{c.Cost}}</td>
        <td>{{c.Size}}</td>
        <td>{{c.CPU}}</td>
        <td>{{c.Space}}</td>
        <td>{{c.Power}}</td>
    </tr>
    </tbody>
</table>

<h3>Your Point Defenses</h3>
<p class="explainer">
    Point defenses are close-in weaponry batteries and active protection systems which automatically detect, track, and destroy incoming missiles and fighter craft. They are ineffective against energy weapons such as lasers and distruptors, but very effective against torpedoes. Unlike shields and armor, point defense batteries do not grant a SOAK bonus; instead they provide a DEFENSE bonus against missile weapons (but not energy weapons).
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Amount</th>
        <th>Name</th>
        <th>Space</th>
        <th>CPU</th>
        <th>Cost</th>
        <th>DEFENSE</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship[PKEY]">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(PKEY, name)">-</button></td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td>{{pointDefensesHash[name].Space}}</td>
        <td>{{pointDefensesHash[name].CPU}}</td>
        <td>{{pointDefensesHash[name].Cost}}</td>
        <td>{{pointDefensesHash[name].DEFENSE}}</td>
    </tr>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="7" class="text-center">No point defenses selected.</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Space</th>
        <th>CPU</th>
        <th>Cost</th>
        <th>DEFENSE</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in pointDefenses">
        <td><button type="button" class="btn btn-primary" ng-click="incrementItem(PKEY, c[PKEY])">+</button></td>
        <td>{{c['Point Defense']}}</td>
        <td>{{c.Space}}</td>
        <td>{{c.CPU}}</td>
        <td>{{c.Cost}}</td>
        <td>{{c.DEFENSE}}</td>
    </tr>
    </tbody>
</table>