<h2>Superstructure</h2>
<p class="explainer">
    A basic ship's SUPERSTRUCTURE is equal to three times its ship class. This typically isn't a lot, and many ships have additional superstructure added to the hull. Superstructure is cheaper and lighter than armor; but it does deplete, which armor does not tend to do.
    <br><br><b>Recommended amounts.</b> A ship should typically have around ten times its class in superstructure.  Less than this can make it very fragile. Weapons can do in the region of 3d6-6d6 damage (averaging 12-25 damage per shot), so a salvo can easily destroy a ship with too little superstructure.
</p>
<h3>Your Superstructure</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Quantity</th>
        <th>Type</th>
        <th>Space</th>
        <th>Cost</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in ship['Superstructure']">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(KEY, name)">-</button></td>
        <td ng-bind="count"></td>
        <td ng-bind="name"></td>
        <td ng-bind="superstructureHash[name].Space"></td>
        <td ng-bind="superstructureHash[name].Cost"></td>
        <td ng-bind="superstructureHash[name].Notes"></td>
    </tr>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="13" class="text-center">No additional superstructure selected.</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Select</th>
        <th>Type</th>
        <th>Space</th>
        <th>Cost</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in superstructureOptions">
        <td><button type="button" class="btn btn-primary" ng-click="incrementItem(KEY, p['Type'])">+</button></td>
        <td ng-bind="p.Type"></td>
        <td ng-bind="p.Space"></td>
        <td ng-bind="p.Cost"></td>
        <td ng-bind="p.Notes"></td>
    </tr>
    </tbody>
</table>
