<div class="row">
    <div class="col-md-4">
        <tabset  vertical="true" type="pills">
            <tab ng-repeat="tab in tabs" select='setPartial(tab)' heading="{{tab.title}}" active="tab.active" disable="tab.disabled">

            </tab>
        </tabset>
    </div>
    <div class="col-md-8">
        <div data-ng-include data-src="chosenPartial"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class='centered' cols="10" frame="void" rules="none" border="0" cellspacing="0">
            <colgroup>
                <col width="157">
                <col width="72">
                <col width="61">
                <col width="71">
                <col width="52">
                <col width="50">
                <col width="43">
                <col width="48">
                <col width="48">
                <col width="48">
            </colgroup>
            <tbody>
            <tr>
                <td colspan="10" align="center" height="23" bgcolor="#cccccc"
                    valign="bottom" width="650"><b ><font size="4">Excalibur Class XIV Battleship</font></b></td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Weight</span>
                    297459 tons; <span style="font-weight: bold;">Cargo Units</span>
                    1960 (83 available)<br>
                    <span style="font-weight: bold;">Hull Class </span>XIV
                    (INIT -2d6);
                    <span style="font-weight: bold;">Length</span>
                    420m; <span style="font-weight: bold;">Width</span>
                    210m; <span style="font-weight: bold;">Height</span>
                    140m
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Crew</span>
                    850 (cost 170000Cr/m); <span style="font-weight: bold;">Troops</span>
                    0; Passengers 0 (0 standard, 0 luxury)
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" bgcolor="#dddddd" valign="bottom"><b>Command
                    &amp; Control Systems</b></td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Computer</span>
                    Chemerkin-Liang Products LM-5S (CPU cycles 64; max FTL 16; checks +1d6)
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Sensors</span>
                    Newwatch ES-1H (range 16; check +1d6)
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" bgcolor="#dddddd" valign="bottom"><b>Engine &amp;
                    Power Data</b></td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Subluminal</span>
                    1x OmniDyne Lines EF-1 fusion reactor (power 82; SPEED 5.8; fuel
                    efficiency 1.2)
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">FTL</span>
                    2x Panwatch-Microbeam EA-2S antimatter engine (power 152; FTL 10.8;
                    fuel efficiency 1.4)
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Operational
                    Range</span> 3841.6 parsecs
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" bgcolor="#dddddd" valign="bottom"><b>Defensive Data</b></td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span
                        style="font-weight: bold;">Superstructure</span>
                    93; <span style="font-weight: bold;">DEFENSE</span>
                    12; <span style="font-weight: bold;">ELECTRONIC DEFENSE</span>
                    34
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Armor</span>
                    -
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Shields</span>
                    2x Cui-Cui Systems ESM-2 combat deflector screens (power 152; SOAK 11)
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Point
Defenses</span> -
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" bgcolor="#dddddd" valign="bottom"><b>Weapons Data</b></td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom">2x Saito Cybernetics EPCl-1 Whiteswarm
                    photonic torpedo cluster (range 17; damage 5d6 heat; attack +0d6)
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom">4x Solar Industries GHB-1 Excelsior phaser
                    beam emitter (range 15; damage +0d6; attack +0d6)
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" bgcolor="#dddddd" valign="bottom"><b>Facilities</b></td>
            </tr>
            <tr>
                <td colspan="10" sdnum="2057;0;0" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Luxury</span>
                    38.8% (poor;
                    -1d6)
                </td>
            </tr>
            <tr>
                <td colspan="11" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Facilities</span>
                    Sick bay (50), Messhall (80), Transporter pad (24), Brig (20), Cabin,
                    double (200), Gymnasium (45), Holographic suite (15), Observation
                    lounge (20)
                </td>
            </tr>
            <tr>
                <td colspan="12" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Other
Systems</span> Omnibeam J21 Gravity Beam
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" valign="bottom"><span style="font-weight: bold;">Shuttles</span>
                    16 (Ultrabeam VN34 Shuttle/fighter Bay);<span style="font-weight: bold;"> Fighters</span> 0
                </td>
            </tr>
            <tr>
                <td colspan="10" align="left" height="17" bgcolor="#dddddd" valign="bottom"><b>Market Value
                    12444.5 MCr</b></td>
            </tr>
            </tbody>
        </table>
        <div>
        </div>
    </div>

</div>


